<div class="container mt-4" *ngIf="cards && cards.length">
	<div class="row">
		<div class="col-md-3 mb-4 me-5" *ngFor="let card of cards">
			<div class="card dynamic-height position-relative">
				<div class="card-body scrollable-content pt-5">
					<div id="timeline-container" class="position-absolute text-white bg-secondary rounded-circle p-1 fs-6">
						{{card.cardId}}
					</div>
					<h5 class="card-title mt-1">
						{{card.cardName}}
					</h5>
					<p class="card-text">
						{{card.cardContent}}
					</p>
					<div class="border border-rounded text-secondary rounded p-1 mt-3 mb-4">
						<h6 class="card-subtitle mx-2 font-weight-bold">
							{{card.category?.categoryName}}
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="soon" *ngIf="!cards || cards.length < 1" class="d-flex justify-content-center align-items-center">
	<div class="card" id="soon-2">
		<div class="card-body">
			<h6 class="card-title">🚧 Under construction 🚧</h6>
			<p class="card-text">Homeowner Notebook is coming soon. Stay tuned!</p>
		</div>
	</div>
</div>