<div class="content" role="main">
  <br/>
  <div class="container mt-4" *ngIf="cards && cards.length">
    <div class="row">
      <div class="col-md-3 mb-4 me-5" *ngFor="let card of cards">
        <div class="card dynamic-height">
          <div class="card-body scrollable-content">
            <h5 class="card-title">{{card.cardId}} - {{card.cardName}}</h5>
            <p class="card-text">{{card.cardContent}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="cardName" class="form-label">Name</label>
      <input type="text" class="form-control" id="name"
        formControlName="cardName" placeholder="Enter name">
    </div>
    <div class="mb-3">
      <label for="cardContent" class="form-label">Content</label>
      <input type="text" class="form-control" id="content"
        formControlName="cardContent" placeholder="Enter content">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  

<router-outlet></router-outlet>
